/tmux/

.hammerspoon/Spoons/

.config/*

!.config/starship.toml

!.config/git

!.config/fish/config.fish
!.config/fish/kalias.fish
!.config/fish/fish_plugins
!.config/nvim
!.config/ideavim
!.config/tmux/*.conf
!.config/zellij

bin/*
bin/run-alacritty.sh
bin/tf
bin/24-bit.sh
bin/find_git_dir.sh

.asdf/
.z.lua/

.DS_Store
