/tmux/

.hammerspoon/Spoons/

.config/*

!.config/starship.toml

!.config/git

!.config/fish/config.fish
!.config/fish/fish_plugins
!.config/nvim

bin/*
bin/run-alacritty.sh
bin/tf
bin/24-bit.sh

.asdf/
.z.lua/
